* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://res.cloudinary.com/dyhftwfrw/image/upload/v1701100703/team-profile/gq5nkahjaegwvzkfnuzb.svg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
}